@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated-gradient {
  background: linear-gradient(120deg, #ff0080, #ff6a00, #1f48a0, #01194e);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}
